:root {
    --darkblue-background-color: #334155;
    --lightblue-border-color: #475569;
    --orange-600: #EA580C;
    --lightgray-color: #CBD5E1;
    --white: #FFF;
}
footer {
display: flex;
padding: 48px 0px;
padding-left: 5em;
align-items: center;
gap: 32px;
align-self: stretch;
}

.footer-p {
color: #CBD5E1
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
}
.made-by {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
}


