/* :root {
    --darkblue-background-color: #334155;
    --lightblue-border-color:  #475569;
    --orange-color: #EA580C;
    --lightgray-color: #CBD5E1;
    --white: #FFF;
} */

.div-frame {
	background-color: red;
	display: flex;
width: 1000px;
padding: 24px;
justify-content: space-between;
align-items: flex-start;
}
