:root {
    --darkblue-background-color: #334155;
    --lightblue-border-color: #475569;
    --orange-600: #EA580C;
    --lightgray-color: #CBD5E1;
    --white: #FFF;
}

.section-three {
    display: flex;
    padding: 5em;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.section-three-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.flpr-orange img {
    max-width: 100%;
    max-height: 100%;
    background: url(/Bilder/Flipper-orange.png), lightgray 50% / cover no-repeat;
    mix-blend-mode: lighten;
}

.section-three-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    margin-bottom: 7rem;
}

.h5-white {
    align-self: stretch;
    color: var(--white, #FFF);
    /* Heading/3 */
    font-family: "Roboto";
    margin-bottom: -1.3rem;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 52.8px */
}

.h5-orange {
    align-self: stretch;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--orange-400, #FB923C);
    /* Heading/3 */
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 52.8px */
}

ul {
padding: 0;
margin: 0;
color: var(--white, #FFF);
/* Body/L */
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
list-style-type: none;
justify-content: center;
}

.three {
    margin-bottom: 0;
}


