/* * {
	background-color: rgb(102, 102, 228);
} */


/* Background color for visibility. Svg images are white */

/* The <br>'s in the html code can probably be removed later. I added them to get the same view of the text as in the Figma file */

/* .main-content {
	width:1440px;
	margin: 0 auto;
	display: flex;
} */

.page-wrapper {
	background-color: #162237
}

.main-content {
	background-color: #162237
}



@media (max-width: 768px) {
	.page-wrapper {
	  flex-direction: column; 
	}
  
	
	.section-one-left, .section-one-right .section-two-left, .section-two-right .section-three-left, .section-three-right .section-six-left, .section-six-right .section-seven-left, .section-seven-right .section-nine-left, .section-nine-right {
	  min-width: auto;
	  max-width: auto;
	}
  }